
  
  .dropdown .dropbtn {
    font-size: inherit;  
    border: none;
    outline: none;
    padding: 0.65em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: 500;
    color: #9c4bff;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #290059;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000000;
    border-radius: 8px;
    padding: 0.6em;
    /* Add transition properties */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .dropdown-content a {
    padding: 0.8em 1.4em;
    text-decoration: none;
    display: block;
    border-radius: 6px;
  }
  
  .dropdown-content a:hover {
    background-color: #34006f;
    color: #9c4bff !important;
    filter: none;
  }
  
  /*.dropdown:hover .dropdown-content, .dropdown:active .dropdown-content {
    display: block;
  }*/
  .dropdown-content.show {
    opacity: 1;
    display: block;
  }
.dropdown-link-desc {
  font-size: 14px;
  color: #bbb;
}