@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #222;
}
  
/* Scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

:root {
    scrollbar-color: var(--main-color) #222;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: #130028;
}
.main-cc p {
    max-width: 70%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.gh-comments {
    width: 50%;
    margin: auto; /* выравнивание по центру */
}
h1, h2, h3, h4, h5, h6, p {
    color: #eee;
}
h1 {
    font-family: 'Inter Tight', sans-serif;
    line-height: 5rem;
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: -.025em;
    line-break: anywhere;
}
h2 {
    font-family: 'Inter Tight', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: -.025em; /* чуть плотнее буквы */
}
h1, h2 {
    background: linear-gradient(90deg, rgba(175,110,255,1) 0%, rgba(115,0,255,1) 72%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: fadeIn 1s ease-in-out;
}
.flex { display: flex; }
.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* навбар */
/*.nav {
    display: flex;
    background: #333;
    align-items: center;
    padding: 1em;
    justify-content: center;
}
.nav a:hover {
    background: #444;
}
.nav-mobile {
    display: none;
}*/
.jleft {
    justify-content: left !important;
    display: flex;
}
.jright {
    justify-content: right !important;
}
.tcent {
    text-align: center;
}
.logo, .logo img {
    background: none;
    padding: 0;
}
.logo::after {
    content: '';
}
.mlogo {
    display: none;
}
a {
    text-decoration: underline;
    text-decoration-color: #9035ff50;
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1); /* рандомный переход, предложенный emmet */
}
a::after {
    font-family: "Font Awesome 6 Free";
    content: ' \f08e';
    font-weight: 900;
    font-size: 14px;
}

a:visited, a, span.site-url, footer p.rev a.internal_link span.translatable {
    color: var(--main-color);
}
.no-domain span.site-url {
    display: none;
}
a:hover {
    /*filter: brightness(80%);
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1); /* рандомный переход, предложенный emmet */
    /*text-decoration: underline;*/
    text-decoration-color: #9035ff;
    text-underline-offset: 3px;
}
button, .button {
    padding: 0.8em 1.6em;
    border: none;
    margin: 2.5px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Inter Tight', sans-serif;
    background: #280051;
    transition: 150ms cubic-bezier(0.075, 0.82, 0.165, 1); /* рандомный переход, предложенный emmet */
    color: var(--main-color);
    text-shadow: none;
    user-select: none;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.button span.site-url, .main-button span.site-url {
    display: none;
}
.mobile {
    display: none;
}
.main-button:hover, .qor-main-button:hover, .qor-button:hover, 
.copy-button:hover, .button:hover, .update:hover, 
.menu a:hover, .latest-post:hover, .cmd-cloud:hover, 
.down-arrow:hover {
    filter: none;
}
.main-button, .qor-main-button, .qor-button, .copy-button {
    font-size: 18px;
    background: #7c11ff;
    padding: 0.8em 1.6em;
    color: #fff !important;
    border-radius: 6px;
    text-shadow: none;
    user-select: none;
    text-decoration: none;
    font-family: 'Inter Tight', sans-serif;
}
.qor-main-button {
    background: #750026;
    color: #fff;
}
.qor-main-button:hover {
    background: #c04;
    transition-duration: 0.2s;
}
.qor-main-button:active {
    background: #54001c;
}
.qor-button {
    background: #111;
}
.qor-button:hover {
    background: #610020 !important;
    transition-duration: 0.1s;
}
.qor-button, .qor-main-button {
    border-radius: 10px;
}
.main-button:hover, .qor-main-button:hover, .qor-button:hover {
    text-decoration: none;
}
.main-button:hover {
    background: #6f11e1;
    box-shadow: 0 2px 10px rgba(0,0,0,.5);
}
.main-button:active {
    background: #5a0fb6;
}
button:hover, .button:hover {
    background-color: #340068;
    color: var(--main-color);
    text-decoration: none;
    filter: none;
}
button:active, .button:active {
    background: #2d0066;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background: #1b0039;
    margin-top: 20px;
}
.devlogs-link {
    padding: 0.5em;
    margin: 5px;
    border-radius: 6px;
    font-size: 18px;
    width: max-content;
    background: #eee;
}
.devlogs-link:hover {
    text-decoration: none;
    background: #ddd;
}
.devlog p {
    font-size: 1.5rem;
}
.devlog {
    display: flex;
    align-items: center;
}
.latest-post {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background: #220048;
    text-align: center;
    text-decoration: none;
}
.latest-post:hover {
    text-decoration: none;
    background: #2f005e;
    color: var(--main-color);
}
.commands-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.commands-grid div {
    background: rgba(2,0,36,1);
    padding: 1em;
    color: #fff;
    margin: 5px 2.5px;
    border-radius: 6px;
}
footer span {
    color: #fff;
}
blockquote {
    width: fit-content;
    margin: 10px 0;
    padding: 15px;
    border-left: 3px solid var(--main-color);
    background: #1b0039;
}
blockquote q {
    padding: 0.3em;
    color: #fff;
}
footer hr {
    /*width: 5%;*/
    color: var(--main-color);
    margin: 10px;
    border: 1px solid var(--main-color);
}
hr {
    width: 100%;
    color: var(--main-color);
    margin: 10px;
    border: 1px solid var(--main-color);
}
.vertical-line {
    color: var(--main-color);
    font-weight: 700;
    user-select: none;
}
.copy-button {
    padding: 0;
    font-family: 'Inter Tight', Arial, Helvetica, sans-serif;
    width: 30px;
    background: none !important;
}
.copy-button:hover {
    cursor: copy;
}
img {
    animation: lightSpeedIn 1s ease-in-out;
}
p, span, h1, h2, h3, h4, h5, h6 {
    animation: fadeIn .5s ease-in-out;
}
pre {
    font-family: 'Source Code Pro';
    background: #000;
    width: fit-content;
    border-radius: 6px;
    padding: 5px;
}
.powered-by {
    /*margin-top: 10px;*/
    border: 1px solid #595959;
    border-radius: 5px;
}
/* keyframes & animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}