* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #222;
}
  
/* Scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background: #9c4bff;
}

:root {
    scrollbar-color: #9c4bff #222;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background: #130028;
}
.left {
    float: left;
}
.right {
    float: right;
}
.gh-comments {
    width: 50%;
    margin: auto; /* выравнивание по центру */
}
h1, h2, h3, h4, h5, h6, p {
    color: #eee;
}
h1 {
    font-family: 'Inter Tight', sans-serif;
    line-height: 5rem;
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: -.025em;
    line-break: anywhere;
}
h2 {
    font-family: 'Inter Tight', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: -.025em; /* чуть плотнее буквы */
}
h1, h2 {
    background: linear-gradient(90deg, rgba(175,110,255,1) 0%, rgba(115,0,255,1) 72%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.flex { display: flex; }
.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* навбар */
.nav {
    display: flex;
    background: #333;
    align-items: center;
    padding: 1em;
    justify-content: center;
}
.nav a:hover {
    background: #444;
}
.nav-mobile {
    display: none;
}
.jleft {
    justify-content: left !important;
    display: flex;
}
.jright {
    justify-content: right !important;
}
/* центрирование текста с id tcent */
.tcent {
    text-align: center;
}
.logo, .logo img {
    background: none;
    padding: 0;
}
.logo::after {
    content: '';
}
.mlogo {
    display: none;
}
a {
    text-decoration: none;
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1); /* рандомный переход, предложенный emmet */
}
a::after {
    font-family: "Font Awesome 6 Free";
    content: ' \f08e';
    font-weight: 900;
}

a:visited, a {
    color: #9c4bff;
}
a:hover {
    /*border-color: #ddd;*/
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1); /* рандомный переход, предложенный emmet */
}
button, .button {
    padding: 1em 2em;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Inter Tight', sans-serif;
    background: #280051;
    transition: 150ms cubic-bezier(0.075, 0.82, 0.165, 1); /* рандомный переход, предложенный emmet */
    color: #9c4bff;
    text-shadow: none;
    user-select: none;
}
.mobile {
    display: none;
}
.main-button, .qor-main-button, .qor-button, .copy-button {
    font-size: 18px;
    /* margin: 5px; */
    background: #7c11ff;
    padding: 1em 2em;
    color: #fff !important;
    border-radius: 6px;
    text-shadow: none;
    user-select: none;
}
.qor-main-button {
    background: #750026;
    color: #fff;
}
.qor-main-button:hover {
    background: #c04;
    transition-duration: 0.2s;
}
.qor-main-button:active, .copy-button:active {
    background: #54001c;
}
.qor-button {
    background: #111;
}
.qor-button:hover, .copy-button:hover {
    background: #610020;
    transition-duration: 0.1s;
}
.main-button:hover, .qor-main-button:hover, .qor-button:hover {
    text-decoration: none;
}
.main-button:hover {
    background: #6f11e1;
}
.main-button:active {
    background: #5a0fb6;
}
button:hover, .button:hover {
    background-color: #340068;
    text-decoration: none;
}
button:active, .button:active {
    background: #2d0066;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background: #1b0039;
    margin-top: 20px;
}
/*footer a:hover {
    text-decoration: underline;
    background: none;
}*/
.devlogs-link {
    padding: 0.5em;
    margin: 5px;
    border-radius: 6px;
    font-size: 18px;
    width: max-content;
    background: #eee;
}
.devlogs-link:hover {
    text-decoration: none;
    background: #ddd;
}
.devlog p {
    font-size: 1.5rem;
}
.devlog {
    display: flex;
    align-items: center;
}
.devlog-notification {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background: #220048;
    text-align: center;
}
.devlog-notification:hover {
    text-decoration: none;
    background: #2f005e;
}
.commands-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.commands-grid div {
    background: rgba(2,0,36,1);
    padding: 1em;
    color: #fff;
    margin: 5px 2.5px;
    border-radius: 6px;
}
blockquote {
    width: fit-content;
    margin: 10px 0;
    padding: 15px;
    border-left: 3px solid #9c4bff;
    background: #1b0039;
}
blockquote q {
    padding: 0.3em;
    color: #fff;
}
footer hr {
    width: 5%;
    color: #9c4bff;
    margin: 10px;
    border: 1px solid #9c4bff;
}
hr {
    width: 100%;
    color: #9c4bff;
    margin: 10px;
    border: 1px solid #9c4bff;
}
.vertical-line {
    color: #9c4bff;
    font-weight: 700;
    user-select: none;
}
.copy-button {
    padding: 0.5em;
    font-family: 'Inter Tight', Arial, Helvetica, sans-serif;
}