/* UTILITIES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar a:hover, .dropbtn:hover {
	/*background: #d3aeff;*/
	text-decoration: none;
	color: #7729d7 !important;
}
li {
	list-style: none;
}
.logo:hover {
	background: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0 5px 8px;
	background-color: #1b0039;
	color: #444;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
}

.internal_link::after {
	content: ''; /* не показывать иконку для внутренних ссылок */
}
/* LOGO */
.logo {
	font-size: 32px;
}
.logo-link {
	border-radius: 6px;
	display: flex;
	align-items: center;
}
.logo-link:hover {
	filter: brightness(70%);
}
.logo-link::after {
	content: '';
}

/* NAVBAR MENU */
.menu {
	display: flex;
	align-items: center;
	/*gap: 1em;*/
	font-size: 14px;
}
.menu a, .last-link-menu {
	padding: 0.7em;
	border-radius: 6px;
	font-weight: 500;
	user-select: none;
}
.last-link-menu {
	display: flex;
}
.menu a, .menu a:visited {
	color: #9c4bff;
}

.menu li a:hover {
	color: #9035FF;
	transition: 0.3s ease;
}

.menu li {
	padding: 0.2em;
	margin: 0;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
	display: none;
} 

/* HAMBURGER MENU */
.hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 600px) {
	.menu {
		display:none;
		position: absolute;
		background-color:#1b0039;
		right: 0;
		left: 0;
		top: 100%;
		align-items: normal;
		text-align: center;
		padding: 1em;
		font-size: 18px;
	}
	.menu a {
		margin: 5px !important;
		border-radius: 6px;
	}
	.mlogo {
		width: 10%;
	}

	.menu li + li {
		margin-top: 12px;
	}

	input[type=checkbox]:checked ~ .menu {
		display: flex;
		flex-direction: column;
	}

	.hamburger {
		display: block;
		color: #eee;
	}
}
@media (max-width: 440px) and (max-height: 800px) {
	.menu {
		 display:none;
		 position: absolute;
		 background-color:#1b0039;
		 right: 0;
		 left: 0;
		 top: 100%;
		 align-items: normal;
		 text-align: center;
		 padding: 1em;
	}
}