<footer id="footer" style="align-items: normal;">
    <div class="main" style="display: flex; align-items: center; flex-direction: row; justify-content: space-between; margin-bottom: 10px;">
        <div class="logo">
            <a href="/qoritsuki/" class="logo-link" title="Лого Qoritsuki">
                <p style="display: inline-block; font-size: 18px; font-family: 'Inter Tight', Arial, Helvetica, sans-serif;">Qoritsuki</p>
                <img class="logo" src="/qoritsuki/assets/img/qoritsuki_transparent.svg" width="36px" alt="Лого Qoritsuki" style="display: inline-block; margin-left: 2px;">
            </a>
        </div>
        <div class="social-icons-container right" style="margin: 0;"> <!-- иконки соцсетей -->
            <ol class="social-icons">
                <li><a href="https://dsc.gg/qorsupport" target="_blank" class="social-icon" style="margin-left: 0;"><i class="fa-brands fa-discord"><span>Discord</span></i></a></li>
                <!--li><a href="https://telegram.dog/MystieHum" target="_blank" class="social-icon"><i class="fa-brands fa-telegram"><span>Telegram</span></i></a></li>
                <li><a href="https://4pda.to/forum/index.php?showuser=10840063" target="_blank" class="social-icon"><i class="fa-solid fa-4"><span>4PDA</span></i></a></li>
                <li><a href="https://github.com/MystieHum" target="_blank" class="social-icon"><i class="fa-brands fa-github"><span>GitHub</span></i></a></li>
                <li><a href="https://youtube.com/@MystieHum" target="_blank" style="margin-right: 0;" class="social-icon"><i class="fa-brands fa-youtube"><span>YouTube</span></i></a></li-->
            </ol>
        </div>
    </div>
    <div class="footer-links">
        <a href="https://dsc.gg/qoritsuki" class="internal_link">Пригласить</a>
        <span>&nbsp;&#183;&nbsp;</span>
        <a href="https://qoritsuki.gitbook.io/docs" class="internal_link">Документация</a>
        <span>&nbsp;&#183;&nbsp;</span>
        <a href="https://dsc.gg/qorsupport" class="internal_link">Поддержка</a>
        <span>&nbsp;&#183;&nbsp;</span>
        <a href="/privacy" class="internal_link">Privacy Policy</a>
    </div>
    <p class="rev" style="padding: 5px 0;display: flex;"><a href="https://github.com/MystieHum/mystie.eu.org/commits/master" class="internal_link">revision from 23.09.23</a></p>
    <p>Copyleft &copy; 2023 
        <a href="https://github.com/MystieHum/mystie.eu.org/graphs/contributors" class="internal_link" target="_blank">mystie.eu.org contributors</a>.<br>Licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="internal_link" target="_blank">CC BY-SA 4.0</a>.
        <div class="mobile"><br></div></p>
</footer>