@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
.rev {
    padding: 5px;
}
.qor-main-button:hover, .qor-button:hover, .down-arrow:hover, 
.update:hover, .social-icon, .notif,
.down-arrow, .update, p, pre, span, .social-icons a {
    color: #fff !important;
}
a, .vertical-line, .accordion, .accordion::after, hr, .icons i, .windowtoggle.qor-button {
    color: #c04 !important;
}
.notif, .accordion,
footer, .panel, .update, #windowheader {
    background: rgb(2, 0, 36, 1) !important;
}
.notif:hover, .accordion:hover, .active,
.commands-grid div, .icons button:hover, .icons button:active {
    background: #370012 !important;
}
.rev {
    color: #888;
}
hr, .update:hover {
    border-color: #c04 !important;
}
h3 {
    margin-top: 10px;
}
h2 {
    text-shadow: 0px 0px 15px rgba(255,255,255,0.6);
}
.down-arrow {
    font-size: 24px;
    width: fit-content;
    display: inline-block;
    transition: 0.4s;
}
.down-arrow:hover {
    transition: 0.4s;
    letter-spacing: 4px;
}
.down-arrow:hover, .cmd-cloud:hover, .update:hover {
    text-decoration: none;
}
.cmd-cloud pre {
    transition: 0.1s;
}
.cmd-cloud pre:hover {
    scale: 1.05;
    transition: 0.1s;
}
.navbar {
    position: relative;
    background: none;
    justify-content: center;
}
.navbar a:hover {
    color: #f05 !important;
}
.img-cont, .image, .rvf-img, .tvhome-img, .qor-img, .screen1-qor, .screen2-qor, .screen3-qor, .screen4-qor {
    height: 700px !important;
}
.img-cont {
    text-shadow: 0px 0px 6px rgba(2,0,36,1);
}
.logo-link:hover {
    background: none !important;
    filter: brightness(70%);
}
/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #222;
}

/* Scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
    background: #c04;
}

:root {
    scrollbar-color: #c04 #222;
}
.update, .update:hover {
    transition: 0.2s;
}
.update {
    padding: 0.7em 2em;
    border-radius: 40px;
    border: 2px solid rgb(140, 0, 47);
    font-size: 14px;
}
.update::after, .second-button::after {
    content: ' \f178';
}
#window {
    box-shadow: 0px 0px 15px rgb(2, 0, 36, 1) !important;
    position: static !important;
}
.windowtoggle.qor-button {
    padding: 0;
    background: none;
    border-radius: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.windowtoggle.qor-button:hover {
    background: none !important;
    filter: brightness(80%);
}
.opacity-50 {
    opacity: 0.5 !important;
}
.opacity-75 {
    opacity: 0.75 !important;
}
.social-icons a span {
    font-size: 18px;
    font-family: 'Inter Tight', Arial, Helvetica, sans-serif;
    margin: 0 5px;
    font-weight: normal;
}
.social-icons a {
    margin: 0 !important;
}
.social-icon i {
    display: inline-flex;
    align-items: center;
    background: #03003c;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 35px;
    transition: .2s;
}
.social-icon i:hover {
    background: #c04;
    color: #fff;
    transition: .2s;
}
@media screen and (max-width: 1000px) {
    footer {
        text-align: center;
    }
    footer p.rev {
        justify-content: center;
    }
}