<footer class="tcent" id="footer">
    <div class="main" style="display: flex; align-items: center; flex-direction: row;">
        <a href="/privacy" class="internal_link">Privacy Policy</a>
        <div class="non-mobile">
            <p class="vertical-line">&nbsp;&nbsp;|</p>
            </div>
        <div class="social-icons-container right"> <!-- иконки соцсетей -->
            <ol class="social-icons">
                <li><a href="https://discord.com/users/658287767490527243"><i class="fa-brands fa-discord social-icon"></i></a></li>
                <li><a href="https://telegram.dog/MystieHum"><i class="fa-brands fa-telegram social-icon"></i></a></li>
                <li><a href="https://4pda.to/forum/index.php?showuser=10840063"><i class="fa-solid fa-4 social-icon"></i></a></li>
                <li><a href="https://github.com/MystieHum"><i class="fa-brands fa-github social-icon"></i></a></li>
                <li><a href="https://youtube.com/@MystieHum"><i class="fa-brands fa-youtube social-icon"></i></a></li>
            </ol>
        </div>
    </div>
    <p class="rev"><a href="https://github.com/4vanyek/trvml/commits/master" class="internal_link">revision from 31.08.23</a></p>
    <hr>
    <p>Copyleft &copy; 2023 
        <a href="https://github.com/4vanyek/trvml/graphs/contributors" class="internal_link" target="_blank">trvml contributors</a>.<br>Licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="internal_link" target="_blank">CC BY-SA 4.0</a>.
        <div class="mobile"><br></div></p>
</footer>