@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

body {
  background-image: url('img/bg_tvhome.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
}
.gsc-control-cse, .gsc-control-wrapper-cse, .gsc-input-box, .gsc-search-button-v2 {
  border-radius: 6px !important;
}
.gsc-control-cse {
  background-color: transparent !important;
  border: none !important;
  padding: 0 1em 0 1em !important;
}
.gsc-input-box, .gsc-search-button-v2 {
  border: none !important;
  padding: 10px;
}
#gsc-i-id1 {
  background: transparent !important;
}
.gsc-input-box {
  background-color: #ffffff90 !important  ;
}
.gsc-search-button-v2 {
  padding: 18px 36px !important;
}
form.gsc-search-box {
  margin-bottom: 0;
}
.textcenter {
  text-align: center;
}
.nav {
  justify-content: center;
}
.centered {
  display: flex;
  align-items: center;
}
.full {
  width: 100% !important;
}
.nav-icon {
  transition-duration: 0.2s;
}
.nav-icon:hover {
  scale: 0.95;
  transition-duration: 0.2s;
}
.nav-icon:active {
  scale: 0.85;
  transition-duration: 0.2s;
}
.container {
  background: #ffffff90;
  border-radius: 6px;
  width: 50%;
  margin-bottom: 10px;
}
.first {
  border-top-right-radius: 0;
}
.second {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.container button {
  background: #ffffff70;
  color: #222;
  padding: 1em 2em;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  font-family: 'Wix Madefor Display', Arial, Helvetica, sans-serif;
  transition-duration: 0.1s;
  cursor: pointer;
}
.container a:hover, button:hover {
  background: #fff;
  transition-duration: 0.1s;
}
.container a:active, .container a:focus, button:active {
  background: #ffffff;
}
.small-header {
  font-size: 24px;
  font-weight: 700;
  margin: 15px;
  margin-left: 0;
}
.container-content {
  padding: 2em;
}
.container-content h1 {
  margin-top: 0;
}
.right {
  float: right;
}
.left {
  float: left;
}
h1, h2, p, button {
  color: #444;
}