body {
  background-image: url('bg_tvhome.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.textcenter {
  text-align: center;
}
.container {
  background: #ffffff90;
  border-radius: 6px;
  width: 49%;
  margin: 5px auto;
}
.container a, button {
  background: #ffffff70;
  color: #222;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 6px;
  text-decoration: none;
  border: 1px solid transparent;
  transition-duration: 0.1s;
}
.container a:hover, button:hover {
  background: #fff;
  transition-duration: 0.1s;
  border-color: #fff;
}
.container a:active, .container a:focus, button:active {
  background: #ffffff;
}
.small-header {
  font-size: 24px;
  font-weight: 700;
  margin: 15px;
  margin-left: 0;
}
.container-content {
  margin: 0;
  padding: 2em;
  max-width: 100%;
  max-height: 95%;
  color: #fff;
}
.container-content h1 {
  margin-top: 0;
}
.right {
  float: right;
}
.left {
  float: left;
}
h1, h3, p, button {
  color: #444;
}